.serie1 {
    background-image: url("../img/pontocego.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
  
  .serie2 {
    background-image: url("../img/cobrakai.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
  
  .serie3 {
    background-image: url("../img/vikings.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
  
  .serie4 {
    background-image: url("../img/criminosos.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
  
  .serie5 {
    background-image: url("../img/nanatsu.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
  
  .serie6 {
    background-image: url("../img/one\ piece.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
  
  .serie7 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQw2QSsWf8jPkvhnveSEL0l92txjpS765Zb-t7tDivmCEr7tub9DqyT3DFvcSql6FjmjqI&usqp=CAU");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
  
  .serie8 {
    background-image: url("https://play-lh.googleusercontent.com/3rktUiKGtQkOCsU9OJVKWbdS5rNDx-bR8pPGKPSC9S9DpA8qDsjaIpqemGquDr9DiRh-m3EIfp5FKKRRSMw");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
  .serie9 {
    background-image: url("../img/imgdiv2_01.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
  
  .serie10 {
    background-image: url("../img/imgdiv2_02.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
  
  .serie11 {
    background-image: url("../img/imgdiv2_03.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
  
  .serie12 {
    background-image: url("../img/imgdiv2_04.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
  
  .serie13 {
    background-image: url("../img/imgdiv2_05.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
  
  .serie14 {
    background-image: url("../img/imgdiv2_06.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
  
  .serie15 {
    background-image: url("../img/imgdiv2_07.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
  
  .serie16 {
    background-image: url("../img/imgdiv2_08.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
  .serie17 {
    background-image: url("../img/imgdiv3_01.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
  
  .serie18 {
    background-image: url("../img/imgdiv3_02.webp.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
  
  .serie19 {
    background-image: url("../img/imgdiv3_03.webp.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
  
  .serie20 {
    background-image: url("../img/imgdiv3_04.webp.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
  
  .serie21 {
    background-image: url("../img/imgdiv3_05.webp.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
  
  .serie22 {
    background-image: url("../img/imgdiv3_06.webp.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
  
  .serie23 {
    background-image: url("../img/imgdiv3_07.webp.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
  
  .serie24 {
    background-image: url("../img/imgdiv3_08.webp.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(70%);
  }
      