body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000000;
  font-family: "Netflix Sana1", "Helvetica Neue", "Segoe UI", "Roboto Ubuntu",
    "sans serif";
  box-sizing: border-box;
  line-height: 1.4;
  position: relative;
}
h1 {
  margin-left: 230px;
  text-align: left;
  margin-top: -20px;
  font-weight: 500;
  font-size: 32px;
  word-spacing: 0px;
}
h5 {
  margin-left: -400px;
  margin-top: -10px;
  font-size: 13px;
  font-weight: 19px;
}
.container {
  display: inline-flex;
  margin-left: 490px;
}
.logoheader {
  margin-top: -70px;
  margin-left: -70px;
  height: 245px;
  width: 407px;
}
form {
  margin-left: 490px;
  width: 947px;
  height: 914px;
}
button {
  height: 50px;
  width: 440px;
  color: #fff;
  background-color: #e50914;
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  margin-bottom: 20px;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto, Ubuntu",
    sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin: 25px;
}

button:hover {
  background-color: #fc1722;
  cursor: pointer;
}
.img {
  margin-left: -440px;
  display: inline-flex;
  width: 50px;
  height: 30px;
}
.datavalidade{
  display: inline-flex;
}

.mm{
  height: 24px;
  width: 150px;
  border: 2px solid  #3a3a3a;
  margin: 3px;
  min-height: 16px;
  min-width: 16px;
  display: block;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto, Ubuntu",sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none solid rgb(0, 0, 0);
  text-align: left;
  word-spacing: 0px;
  cursor: text;
  border-radius: 5px;
}
input{
  height: 24px;
  width: 376px;
  border: 2px solid  #3a3a3a;
  padding: 21px 48px 8px 16px;
  display: block;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto, Ubuntu",sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none solid rgb(0, 0, 0);
  text-align: left;
  word-spacing: 0px;
  cursor: text;
  border-radius: 5px;
  opacity: 70%;
  margin: 10px;
}

